<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MyOM iOS App</title>
    <!-- styles -->
    <link href="/css/style.css" rel="stylesheet">
</head>
<body>
    <article>
        <h3>Error <%= status %></h3>
        <p><%- message %></p>
        <code><%= stack %></code>
    </article>
</body>
</html>